<div class="row">
    <% recipes.forEach(function(recipe){%>
        <div class="col s12 m8 l4 offset-m2">
            <div class="card">
                <div class="card-image">
                    <img class="image" src="<%=recipe.image_url%>">
                </div>
                <div class="card-content">

                    <span class="card-title">

                        <% if ( recipe.title.length > 15 ) { %>
                            <%= recipe.title.slice(0, 17) + '...'%>
                                <% } else { %>
                                    <%= recipe.title %>
                                        <% } %>
                    </span>
                    <p>Made by:
                        <%=recipe.publisher%>
                    </p>
                </div>
                <div class="card-action">
                    <div class='row'>
                        <a href="<%=recipe.source_url%>">visit recipe</a>
                        <% if ( currentUser ) { %>
                            <button class="btn-floating btn-large waves-effect waves-light red save btn-small">
                                <i data-image='<%=recipe.image_url%>' data-publisher="<%=recipe.publisher%>" data-title="<%= recipe.title%>" data-link="<%=recipe.source_url%>"
                                    class="material-icons add">add</i>
                            </button>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
</div>